<?xml version="1.0"?>
<config>
    <modules>
        <Buildcom_Webserv>
            <version>0.1.0</version>
        </Buildcom_Webserv>
    </modules>
    <global>
		<models>
			<webserv>
				<class>Buildcom_Webserv_Model</class>
				<resourceModel>webserv_resource</resourceModel>
			</webserv>
			<webserv_resource>
				<class>Buildcom_Webserv_Model_Resource</class>
			</webserv_resource>
			<catalog>
				<rewrite>
					<!-- <product>Buildcom_Webserv_Model_Product</product> -->
				</rewrite>
			</catalog>
		</models>
		<helpers>
			<webserv>
				<class>Buildcom_Webserv_Helper</class>
			</webserv>
		</helpers>
		<events>
            <webserv_product_load_after><!--  TODO -->
                <observers>
                    <webserv>
                        <class>webserv/observer</class>
                        <method>addInventoryData</method>
                    </webserv>
                </observers>
            </webserv_product_load_after>
            <!-- <catalog_product_load_after>
                <observers>
                    <inventory>
                        <class>cataloginventory/observer</class>
                        <method>addInventoryData</method>
                    </inventory>
                </observers>
            </catalog_product_load_after> -->
		</events>
	</global>
    <frontend>
        <routers>
            <webserv>
                <use>standard</use>
                <args>
                    <module>Buildcom_Webserv</module>
                    <frontName>webserv</frontName>
                </args>
            </webserv>
        </routers>
    </frontend>
</config>